body {
background-image: url(giphy.gif);

background-size: center;
}

#stars {
  width: 100%;
  height: 78vh;
}


#health-readout {
  position: absolute;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
#starship {
  animation: spin 1s linear infinite;
  padding-top: 0%;
  height: 10vh;
  width: auto;

}
#player-col {
  margin-left: 47vw;
  margin-right: auto;


}
#enemyShip {
  padding-top: 0%;
  height: 20vh;
  width: auto;

}
#enemy-col {
  margin-left: auto;
  margin-right: auto;
}
/* @keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
} */


.lazer-btn-txt {
  text-shadow: 0px 0px 20px #26ff00,0px 0px 20px #26ff00,0px 0px 20px #26ff00;
  color: #ffae00;
}
.Wave-btn-txt {
  text-shadow: 0px 0px 20px #ff00ea,0px 0px 20px #ff00ea,0px 0px 20px #ff00aa;
  color: #ae00ff;
}
.Plasma-btn-txt {
  text-shadow: 0px 0px 20px #b40505,0px 0px 20px #b40505,0px 0px 20px #b40505;
  color: #ff0000;
}
.Phazon-btn-txt {
  text-shadow: 0px 0px 20px #00aeff,0px 0px 20px #00aeff,0px 0px 20px #00aeff;
  color: #0051ff;
}
.reset-btn-txt {
  text-shadow: 0px 0px 20px #fffb00,0px 0px 20px #fffb00,0px 0px 20px #fffb00;
  color: #0059ff;
}


#attack-ul>ul  {
    /* float: left; */
    list-style: none;
    margin-left: -4rem;
    margin-top: 24vh;

}
#attack-ul>ul>li {
padding-bottom: 4rem;
}




#ghj {
margin-left: auto;
margin-right: auto;


}